.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.toggle-theme-wrapper span {
  font-size: 24px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 50px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 24px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 24px;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

input:checked + .slider {
  background-color: green;
}

.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 60%;
}
